<!DOCTYPE html>
<html>
<head>
    <title>Movie Detail</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="detail-wrapper">

    <div class="poster-box">
        <img id="poster">
    </div>

    <div class="info-box">
        <h1 id="title"></h1>

        <p><b>Ngày phát hành:</b> <span id="release"></span></p>

        <p><b>Thể loại:</b></p>
        <div id="genres" class="genre-list"></div>

        <p><b>Nội dung:</b></p>
        <p id="overview"></p>
    </div>

</div>

<script src="/static/detail.js"></script>

</body>
</html>