<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>🎬 Movie Recommender</h1>
</header>

<div class="search-box">
    <input id="movieInput" placeholder="Nhập tên phim..." onkeydown="if(event.key==='Enter') search()">
    <button onclick="search()">Search</button>
</div>

<div id="section-title" class="section-label"></div>
<div id="movies" class="movie-grid"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
